/* HTML */
html {
  font-size: 16px;
}
/* TOP BANNER */
#top_banner {
  height: 50px;
  background-color: #292929;
}
#top_banner a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}
#top_banner a img {
}
#top_banner a span {
  color: #fff;
}
/* OVERLAY */
#overlay.show {
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: background-color 0.5s, opacity 1s;
}
#overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: background-color 0.5s, opacity 1s;
}
/* HEADER */
#header {
  height: 110px;
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}
#header aside {
  position: absolute;
  background-color: #fff;
  border-right: 1px solid #f2f2f2;
  z-index: 9;
  height: 100vh;
  width: 21.8125rem;
  padding-bottom: 2rem;
  overflow-y: auto;
  left: -500px;
  opacity: 0;
  transition: left 0.5s, opacity 0.5s;
}
#header aside.show {
  opacity: 1;
  left: 0;
  transition: left 0.5s, opacity 1s; /* 트랜지션 효과 추가 */
}
/* .show 클래스가 제거될 때의 트랜지션 효과 */
#header aside:not(.show) {
  transition: left 0.5s, opacity 1s;
}
#header aside .top {
  border-bottom: 1px solid #d3d3d3;
  padding: 2rem 1rem;
}
#header aside .top .top_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
#header aside .top .top_top img {
}
#header aside .top .top_top a {
}
#header aside .top .top_top a img {
}
#header aside .top .top_bottom {
  display: flex;
  justify-content: space-between;
}
#header aside .top .top_bottom a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
}
#header aside .top .top_bottom a.login_btn {
  background-color: #111;
  color: #fff;
  border-radius: 50px;
}
#header aside .top .top_bottom a.join_btn {
  border-radius: 50px;
  border: 2px solid #111;
}
#header aside .center {
  margin-bottom: 10rem;
}
#header aside .center li {
  /* padding: 0 1rem; */
  /* background-color: orange; */
  height: 65px;
}
#header aside .center li:hover a {
  background-color: #00c3ff;
  color: #fff;
}
#header aside .center li a {
  box-sizing: border-box;
  display: flex;
  padding-left: 2rem;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.125rem;
}
#header aside .bottom {
  padding: 0 1rem;
}
#header aside .bottom .cs_center {
  font-size: 1.25rem;
  color: #00c3ff;
  font-weight: bold;
  letter-spacing: -0.03em;
  margin-bottom: 1rem;
}
#header aside .bottom .hp {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
#header aside .bottom .time {
  line-height: 1.5;
  margin-bottom: 2rem;
}
#header aside .bottom .time span {
  color: #a3a3a3;
}
#header aside .bottom .icons {
  display: flex;
  gap: 20px;
}
#header aside .bottom .icons img {
}

#header .inner {
}
#header .inner nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .inner nav .left {
  height: 100%;
  display: flex;
  gap: 25px;
}
#header .inner nav .left li {
}
#header .inner nav .left li a {
  height: 100%;
  display: flex;
  align-items: center;
}
#header .inner nav .left li a img {
}

#header .inner nav .center {
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: end;
}
#header .inner nav .center li {
  position: relative;
}
#header .inner nav .center > li > a {
  padding: 1.5rem 3.2em 2.2rem 3.2rem;
}
#header .inner nav .center li:hover a span {
  color: #00c3ff;
}
#header .inner nav .center li a span {
}
#header .inner nav .center li a.add_menu {
}
#header .inner nav .center li a.add_menu span {
}
#header .inner nav .center li:hover ul.sub_menu {
  display: flex;
  z-index: 8;
}
#header .inner nav .center li ul.sub_menu {
  padding: 1.5rem 0;
  position: absolute;
  width: 164px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  display: none;
}
#header .inner nav .center li ul.sub_menu li {
}
#header .inner nav .center li ul.sub_menu li a:hover {
  color: #111;
}
#header .inner nav .center li ul.sub_menu li a {
  color: #b3b3b3;
}

#header .inner nav .right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 25px;
}
#header .inner nav .right li {
}
#header .inner nav .right li a {
  position: relative;
}
#header .inner nav .right li a .basket_cnt_prt {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: #00c3ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .inner nav .right li a .basket_cnt_prt span {
  font-size: 0.75rem;
  color: #fff;
}
#header .inner nav .right li a span {
}
#header .inner nav .right li a img {
}

/* SWIPER BANNER */
#swiper_banner {
}
#swiper_banner .swiper {
}
#swiper_banner .swiper .swiper-wrapper {
}
#swiper_banner .swiper .swiper-slide {
}
#swiper_banner .swiper .swiper-slide img {
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}
#swiper_banner .swiper .swiper-pagination {
}
#swiper_banner .swiper .swiper-button-prev {
}
#swiper_banner .swiper .swiper-button-next {
}
#swiper_banner .swiper .swiper-scrollbar {
}

/* MAIN SWIPER CUSTOM */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #00c3ff;
}
.swiper-button-prev:after {
  position: absolute;
  left: 100px;
}
.swiper-button-next:after {
  position: absolute;
  right: 100px;
}
.swiper-pagination-bullet-active {
  width: 50px;
  border-radius: 10px;
  background-color: #00c3ff;
}

/* SUGGESTION */
#suggestion {
  padding: 7rem 0;
  background-color: #f8f8f8;
}
#suggestion .inner {
}
#suggestion .inner .sug_container {
  display: flex;
}
#suggestion .inner .sug_container .sug_product {
  flex: 1;
}
#suggestion .inner .sug_container .sug_product > span {
  display: block;
  width: 30px;
  height: 4px;
  background: #00c3ff;
  margin: 0 0 40px;
}
#suggestion .inner .sug_container .sug_product .sug_title {
}
#suggestion .inner .sug_container .sug_product .sug_title span {
  display: block;
  font-size: 1.875rem;
  color: #333;
  letter-spacing: -0.02em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
#suggestion .inner .sug_container .sug_product .sug_subtitle {
}
#suggestion .inner .sug_container .sug_product .sug_subtitle span {
  color: #b3b3b3;
  font-size: 1.125rem;
  margin-bottom: 6.25rem;
}
#suggestion .inner .sug_container .sug.swiper {
  flex: 3;
  height: auto;
}
#suggestion .inner .sug_container .sug.swiper .swiper-wrapper {
}
#suggestion .inner .sug_container .sug.swiper .swiper-wrapper .swiper-slide {
}
#suggestion .inner .prod {
  width: 15.1875rem;
}
#suggestion .inner .prod img {
  width: 15.1875rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}
#suggestion .inner .prod .hash {
  color: #a5a5a5;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
#suggestion .inner .prod .prod_name {
  color: #333;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
#suggestion .inner .prod .price {
  display: flex;
  justify-content: space-between;
}
#suggestion .inner .prod .price .perc {
  color: #db3838;
  font-size: 1.125rem;
  font-weight: bold;
}
#suggestion .inner .prod .price .pric {
  color: #333;
  font-size: 1.125rem;
  font-weight: bold;
}
#suggestion .inner .prod .price .befo {
  color: #bababa;
  font-size: 0.875rem;
  text-decoration: line-through;
}
